
/*
 * Colors:
 * #474747
 * #C3C3C3 - Font color
 * #373737 - Right (main) column background
 */
 
 * { font: 11px/1.65 Lucida Grande,Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif; }

a, a:link, a:visited { 
  color: #C3C3C3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #FFF;
}

/* Mainly for avoiding blue outline in Chrome */
*:focus {outline: none;}

#drag-dummy {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
}

tr.ui-draggable-dragging,
tr.ui-sortable-helper {
  background-color: #FFF6BF;
  filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
tr.ui-draggable-dragging td,
tr.ui-sortable-helper td {
  cursor: default;
  color: #000;
  padding: 1px 10px; 
}

.theme-top {
  background-image: url('img/skin-top-bg.gif');
  background-repeat: repeat-x;
}

.theme-searchfield {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 232px;
  height: 20px;
  background-image: url('img/skin-searchfield-bg.gif');
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding: 1px 20px 0 20px;
  margin: 0;
  font-size: 11px;
}

.theme-leftcol {
  background-color: #474747;
  color: #C3C3C3;
}

.theme-navigation ul {
  position: relative;
  left: 0;
  right: 0;
  padding: 6px 0;
  border-bottom: 1px solid #363636;
}

.theme-navigation ul li {
  position: relative;
  left: 0;
  right: 0;
  padding-left: 28px;
  background-position:10px 4px;
  background-repeat:no-repeat;   
}

.theme-navigation ul li a {
  font-size: 11px;  
  color: #C3C3C3;  
  text-shadow: rgba(0,0,0,0.6) 0 1px 0;
  display: inline-block;
  width: 90%;
  cursor: default;   
}

.theme-navigation ul li.selected {
  background-color: #777;
}

.theme-navigation ul li.selected a {
  color: #DDD;
}

.theme-navigation ul li:hover a {
  color: #FFF;
}

.theme-navigation ul.last {
  border: none;
}

.theme-navigation ul.search li {
  background-image:url("img/skin-icon-search.gif");
}

.theme-navigation ul.playlists li {
  background-image:url("img/skin-icon-playlist.gif");
}
.theme-navigation ul.playlists li span {  
  position:absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -999px;
}
.theme-navigation ul.playlists li:hover span {
  background-image: url("img/skin-icon-remove-weak.png");
}

.theme-navigation ul.playlists li:hover span:hover {
  background-image: url("img/skin-icon-remove.png");
}

.theme-navigation ul playlists li.playing {
  background-image:url("img/skin-icon-playing.png");
}

.theme-navigation ul li.drophover {
  background-color: #666;
  -moz-border-radius: 3px;
  -webkit-border-raduis: 3px;
}

.theme-navigation ul li.playqueue {
  background-image:url("img/skin-icon-playqueue.gif");
}

.theme-navigation ul li.home {
  background-image:url("img/skin-icon-home.gif");
}

.theme-navigation ul li.newlist {
  background-image:url("img/skin-icon-plus.gif");
}

.theme-navigation ul li.playing {
  background-image:url("img/skin-icon-playing.png");
}

.theme-currentsong {
  background-color: #474747;
  margin: 0;
  overflow: hidden;
}

.theme-trackinfo {
  background-image: url('img/skin-trackinfo-bg.gif');
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 8px;
  z-index: 1000;
}

.theme-trackinfo li {
  color: #000;
  text-align: center;
  width: 100%;
  text-shadow: rgba(255,255,255,0.4) 0 1px 0;    
}

.theme-trackinfo li#TrackInfo-title {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 1px;
  height: 16px;
  overflow:hidden;
}

.theme-trackinfo li#TrackInfo-artist {
  font-size: 9px;
  height: 13px;
  overflow:hidden;
}


#TrackInfo-newAlbumArt {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 200;
}
#TrackInfo-albumArt {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.minimized #trackinfo {
  background-image: url('img/skin-trackinfo-min-bg.png');
}

.minimized #TrackInfo-albumArt {
  top: -1000px;
}

.theme-separator {
  background-color: #292929;
  cursor: col-resize;
}

.theme-rightcol {
  background-color: #373737;
  color: #C3C3C3;
}

.theme-titlebar {
  background-image: url('img/skin-titlebar-bg.png');
  background-repeat: repeat-x;
  background-color: #636363;
}

.theme-titlebar li {
  background-image: url('img/skin-titlebar-item-sep-bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  width: 90px;
  height: 22px;
  color: #292929;
  font-size: 12px;  
  text-align: center;
  text-shadow: rgba(255,255,255,0.4) 0 1px 0;  
}

.theme-titlebar li.keyword {
  background: none;
  color: #000;
  font-weight: bold;
  float: right;
  width: auto;
}

.theme-titlebar li.selected {
  background-image: url('img/skin-titlebar-item-bg.gif');
  background-repeat: repeat-x;
  background-color: #C3C3C3;
  color: #FFF;
  text-shadow: rgba(0,0,0,0.8) 0 1px 0;
}

.theme-bottom {
  background-image: url('img/skin-bottom-bg.gif');
  background-repeat: repeat-x;
}


div.disconnected {
  background-image: url('img/skin-disconnected.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

div.loading {
  background-image: url('img/skin-loading.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


#home {
  padding-left: 10px;
  width: 620px;
}
#home img {
  float: right;
  margin: 20px 10px 0 0;
}
#home p {
  margin: 0 0 1em 0;
  font-size: 11px;
}

#home h2 {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 0.5em;
}

#home h3 {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 0.5em;
}

#home span {
  display: inline-block;
  width: 300px;
  float: left;
  margin-right: 10px;
}

#artist,
#album {
  padding-left: 20px;
}
/* Album page */
#album h2 {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 0.5em;  
}
 
#album table {
  float: left;
  width: auto;
}

#album img {
  float: left;
  width: 140px;
  margin: 0 20px 0 0;
  
}

/*
 *  TODO: fix these: Prev, Play, Next controls
 */
 
#PlayControl { margin: 6px 0 0 10px; padding: 0; width: 110px;}
#PlayControl li { display: inline; }
#PlayControl li a { float: left; width: 31px; height: 0; padding: 31px 0 0 0; overflow: hidden; }
#PlayControl li a { background-image: url('img/skin-playctrl-bg.gif');  background-repeat: no-repeat; }
#PlayControl.playing li a { background-image: url('img/skin-playctrl-stop-bg.gif'); }

/* BUTTONS */
#PlayControl li#pb-prev a { background-position: 0px 0px; }
#PlayControl li#pb-play a { background-position: -31px 0; }
#PlayControl li#pb-next a { background-position: -62px 0; }

/* PRESSED STATES */
#PlayControl li#pb-prev a:active { background-position: 0 -31px; }
#PlayControl li#pb-play a:active { background-position: -31px -31px; }
#PlayControl li#pb-next a:active { background-position: -62px -31px; }

#Volume {
  display: inline-block;
  float: left;
  width: 140px;
  line-height: 1;
  font-size: 4px;
}
#Volume-slider { width: 80px; height: 9px; margin: 15px 1px 0px 0px;float: left;   display:inline; }

#Volume-icon { 
   width: 10px; 
   height: 22px; 
   margin: 9px 15px 0px 0px;
   background-image: url("img/skin-icon-volume.gif");
   background-repeat: no-repeat;
   display:inline;
   float: left;
}

#TimeInfo { 
  position: absolute;
  top: 15px;
  left: 250px;
  right: 100px;
  color: #FFF;
  font-size: 11px;
}

#TimeInfo-elapsed {
  float: left;
  display: inline;
}

#TimeInfo-duration {
  float: right;
  display: inline;
}

#TimeInfo-slider {
  height: 9px;
}

#ConnectionIndicator-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
  width: 41px;
  text-indent: -9999px;
}

#ConnectionIndicator-icon.connecting {
  background-image: url("img/skin-connecting.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.theme-tracktable {
  font-size: 11px;
  border-collapse: collapse;
  width: 100%;
}

.theme-tracktable thead tr {
  background-image: url('img/skin-table-header-bg.gif');
  background-repeat: repeat-x;
  height: 19px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
 
.theme-tracktable thead tr th {
  height: 19px;
  color: #000;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  text-shadow: rgba(255,255,255,0.4) 0 1px 0;  
  padding:0 5px;
  background-image: url("img/skin-table-header-sep-bg.gif");
  background-repeat: no-repeat;
  cursor: default;
}

.theme-tracktable thead th.headerSortUp,
.theme-tracktable thead th.headerSortDown {
  background-image: url("img/skin-table-header-selected-bg.gif");
  background-repeat: repeat-x;
}

/* Zebra stripes */
.theme-tracktable tbody tr.odd {
  background-color: transparent;
}

.theme-tracktable tbody tr {
  background-color: #404040;
}

/* Default cell props */
.theme-tracktable tbody td {
  padding:1px 5px;
  font-size: 11px;
  color: #C3C3C3;
  cursor: default;
}

.theme-tracktable tbody td.time {
  text-align: right;
}

/* Selected (clicked) rows */
.theme-tracktable tbody tr.selected {
  background-color: #a9d9fe;
}

.theme-tracktable tbody tr.selected td a,
.theme-tracktable tbody tr.selected td{
  color: #000;
}

/* Indicate that a track has been queued (from search) */
.theme-tracktable tbody tr.queued td {
  color: #8effb0;
}
.theme-tracktable tbody tr.queued td:first-child {
  background-image: url('img/skin-icon-queued.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.theme-tracktable tbody tr td:first-child {
  width: 18px;
  padding: 0;
}

/* Indicate that a track is playing */
.theme-tracktable tbody tr.playing {
  background-image: url("img/skin-table-item-playing-bg.gif");
  background-repeat: repeat-x;
  height: 37px;
}

.theme-tracktable tbody tr.playing td a,
.theme-tracktable tbody tr.playing td {
  padding: 0 5px;
  color: #000;
  height: 37px;
}
.theme-tracktable tbody tr.playing td:first-child {
  background-image: url("img/skin-table-item-playing.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 33px;
}

.theme-tracktable tbody tr.listplaying td:first-child {
  background-image: url("img/skin-icon-playing.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Remove-icon */
.theme-tracktable tbody tr td span {  
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -999px;
}

.theme-tracktable tbody tr.playing td:first-child span,
.theme-tracktable tbody tr.listplaying td:first-child span {
  display: none;
}

.theme-tracktable tbody tr:hover td span { 
  background-image: url("img/skin-icon-remove-weak.png");
}
.theme-tracktable tbody tr:hover td span:hover {
  background-image: url("img/skin-icon-remove.png");
}